<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>後台管理頁面</title>
</head>
<body>
    
    <div id="app" class="container">
        <div class="header d-flex justify-content-end">
            <button type="button" class="btn btn-primary my-5" @click="openModal('new')" >建立新產品</button>
        </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">分類</th>
                <th scope="col">產品名稱</th>
                <th scope="col">原價</th>
                <th scope="col">售價</th>
                <th scope="col">是否啟用</th>
                <th scope="col">編輯</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item) in products" :key="item.id">
                <td>{{item.category}}</td>
                <td>{{item.title}}</td>
                <td>{{item.origin_price| money}}</td>
                <td>{{item.price| money}}</td>
                <td v-if="item.enabled==true"><span class="p-2 bg-success rounded">啟用</span></td>
                <td v-else><span class="p-2 bg-danger rounded">關閉</span></td>
                <td><div class="btn-group">
                    <button class="btn btn-outline-dark btn-sm" @click="openModal('edit',item)">編輯</button>
                    <button class="btn btn-outline-danger btn-sm" @click="openModal('delete', item)">消除</button>
                </div></td>
            </tr>

        </tbody>
    </table>
    <!-- page為props 中的設定名 -->
    <!-- pagination是在vue資料庫中的分頁資料 -->
    <!-- update為內部emit出來的資料 套用進Vue的方程式裡 -->
    <!-- :page="pagination" @update="getProducts" -->
    <delModal_compo_name ref="delModalData" :user="user"@update="getProducts"></delModal_compo_name>
    <pagination_compo_name :page="pagination" @update="getProducts"></pagination_compo_name>
    <modal_compo_name ref="modalData" :status="status" :isnew="isNew" :user="user" @update="getProducts"></modal_compo_name>
    </div>
   



    
</body>

<script type="module" src="./js/delmodal.js"></script>
<script type="module" src="./js/pagination.js"></script>
<script type="module" src="./js/modal.js"></script>
<script type="module" src="./js/all.js"></script>


</html>